$item-field-title: $green-400;
$item-field-value: $gray-450;
$item-field-bg: $white;
$item-field-border: $gray-150;

$item-field-hover-bg: $gray-100;

$item-field-tool-btns-bg: $green-50;

$item-field-tool-btn-bg: $gray-100;
$item-field-tool-btn-text: $green-400;
$item-field-tool-btn-border: $gray-150;

$item-field-primary-tool-btn-bg: $white;

.item-field {
  position: relative;

  padding: 0.5rem 1.125rem;

  margin-top: 0.5rem;

  border: 1px solid transparent;
  border-radius: 0.5rem;

  &__title {
    font-size: 13px;
    font-weight: 500;

    color: $item-field-title;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__value {
    width: 100%;

    font-size: 15px;
    font-weight: 500;

    color: $item-field-value;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &_primary {
    background-color: $item-field-bg;
    border: 1px solid $item-field-border;

    & .item-field__tool-btns {
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        $item-field-primary-tool-btn-bg 80%,
        $item-field-primary-tool-btn-bg 100%
      );
    }
  }

  &:hover {
    border-color: $item-field-border;
    background-color: $item-field-hover-bg;

    & > .item-field__tool-btns {
      opacity: 1;
    }
  }

  &__tool-btns {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border-radius: 0.5rem;

    opacity: 0;
  }

  &__tool-btn {
    max-width: 200%;

    font-size: 15px;
    font-weight: 700;

    flex-shrink: 0;
    flex-grow: 0;

    color: $item-field-tool-btn-text;

    border: 0;
    border-right: 1px solid $item-field-tool-btn-border;
    border-radius: 0;

    padding: 0.5em 0.75em;

    background-color: $item-field-tool-btn-bg;

    transition: background 0;

    width: auto;
    height: 100%;

    overflow: hidden;

    &:hover {
      background-color: $item-field-tool-btn-bg !important;
    }

    &:focus {
      z-index: 999999;
    }

    &:first-child {
      flex-grow: 1;

      justify-content: flex-end;

      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;

      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        $item-field-tool-btn-bg 40%,
        $item-field-tool-btn-bg 100%
      );

      &:hover {
        background-color: transparent !important;
      }
    }

    &:last-child {
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;

      border-right-color: transparent;
    }
  }
}
