$list-bar-border: $gray-150;

$list-bar-header-title: $gray-550;
$list-bar-header-bg: $gray-75;
$list-bar-header-border: $gray-150;

$list-bar-list-item-icon-bg: $white;
$list-bar-list-item-text: $gray-650;
$list-bar-list-item-desc: $gray-450;

$list-bar-list-item-acitve-text: $green-500;
$list-bar-list-item-acitve-desc: $green-400;
$list-bar-list-item-acitve-bg: $green-50;

$list-bar-empty-text: $gray-650;

.list-bar {
  width: 250px;
  height: 100%;

  overflow: auto;

  @include ui-overflow-auto;
  @include ui-flex-fixed;

  border-right: 1px solid $list-bar-border;

  &__header {
    width: 100%;
    height: 2rem;

    justify-content: flex-start;

    background-color: $list-bar-header-bg;
    border-radius: 0 !important;

    padding: 0.5rem 1.25rem;

    border-bottom: 1px solid $list-bar-header-border;

    &-title {
      font-size: 15px;

      color: $list-bar-header-title;
    }

    &:hover {
      background-color: $list-bar-header-bg !important;
    }
  }

  &__list {
    height: 100%;

    overflow: auto;

    &-item {
      padding: 0.5rem 1.25rem;

      cursor: pointer;

      &-icon {
        margin-right: 1.25rem;

        @include ui-flex-fixed;

        background-color: $list-bar-list-item-icon-bg;
      }

      &-text,
      &-desc {
        @include ui-truncate;
        @include ui-w-full;
      }

      &-text {
        font-size: 15px;

        color: $list-bar-list-item-text;
      }

      &-desc {
        font-size: 13px;

        color: $list-bar-list-item-desc;
      }

      &_active {
        background-color: $list-bar-list-item-acitve-bg;

        & .list-bar__list-item-text {
          color: $list-bar-list-item-acitve-text;
        }

        & .list-bar__list-item-desc {
          color: $list-bar-list-item-acitve-desc;
        }
      }
    }
  }

  &_empty {
    font-size: 15px;

    color: $list-bar-empty-text;
  }
}
