$search-bar-input-icon: $green-400;
$search-bar-tool-btn-icon-fill: $gray-650;
$search-bar-border: $gray-150;

.search-bar {
  padding: 1rem 1.25rem;

  border-bottom: 1px solid $search-bar-border;

  &__input {
    flex: 0 1 100%;

    font-size: 2em;
    font-weight: 400;

    padding: 0 1.25rem;

    border-color: transparent;

    &:focus {
      border-color: transparent;
      box-shadow: none;
    }

    &-icon {
      @include ui-size(1.75rem);

      fill: $search-bar-input-icon;
    }
  }

  &__tools {
    display: inline-flex;
    width: auto;
  }

  &__settings-btn {
    @include ui-size(2.5rem);

    padding: 0;

    align-items: center;
    justify-content: center;

    border-radius: 50%;

    &-icon {
      @include ui-size(1.5rem);

      fill: $search-bar-tool-btn-icon-fill;
    }
  }
}
