$sidebar-bg: $gray-50;
$sidebar-background-bg: $white;
$sidebar-border: $gray-150;

.sidebar {
  &__popup {
    position: absolute;

    top: 0;
    right: 0;

    flex: 0 0;

    width: 300px;
    height: 100%;

    padding: 1rem;

    background-color: $sidebar-bg;

    border-left: 1px solid $sidebar-border;
  }

  &__background {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: $sidebar-background-bg;

    opacity: 0.5;

    pointer-events: auto;

    user-select: none;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease-in-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
  transition: right 0.25s ease, transform 0.25s ease, width 0.25s ease;
}

.slide-enter,
.slide-leave-to {
  right: -300px;
}
