#app[data-theme-mode="light"] {
  --color-sign-in-page-title: var(--color-gray-650);
  --color-sign-in-page-input-field-border: var(--color-gray-150);
  --color-sign-in-page-input-field-bs: var(--color-green-100);
  --color-sign-in-page-input-btn-icon-fill: var(--color-white);
}

.sign-in-page {
  &__logo {
    --size: 100px;

    width: var(--size);
    height: var(--size);
  }

  &__title {
    font-size: 40px;
    font-weight: 700;

    color: var(--color-sign-in-page-title);
  }

  &__input-field {
    padding: 0.375rem;

    border: 1px solid var(--color-sign-in-page-input-field-border);
    border-radius: 4px;

    &_focused {
      border-color: transparent;
      box-shadow: 0 0 0 0.25rem var(--color-sign-in-page-input-field-bs);
    }
  }

  &__input {
    height: 100%;

    padding: 0;
    padding-left: 0.5rem;

    border-color: transparent;

    &:focus {
      box-shadow: none;
      border-color: transparent;
    }
  }

  &__btn {
    width: 54px;
    height: 32px;

    align-items: center;
    justify-content: center;

    &-icon {
      --size: 16px;

      width: var(--size);
      height: var(--size);

      fill: var(--color-sign-in-page-input-btn-icon-fill);
    }

    & > .ui-btn_loading__icon {
      margin: 0;
    }
  }
}
