$sign-in-page-title: $gray-650;

$sign-in-page-input-field-border: $gray-150;
$sign-in-page-input-field-bs: $green-100;
$sign-in-page-input-btn-icon-fill: $white;

$sign-in-page-input-btn-danger-bg: $red-500;
$sign-in-page-input-btn-danger-hover-bg: $red-600;
$sign-in-page-input-btn-danger-focus-bg: $red-50;

$sign-in-page-error-title: $gray-650;
$sign-in-page-error-desc: $gray-350;

.sign-in-page {
  &__logo {
    @include ui-size(100px);
  }

  &__title {
    font-size: 40px;
    font-weight: 700;

    color: $sign-in-page-title;
  }

  &__input-field {
    @include ui-w-full;

    padding: 0.375rem;

    border: 1px solid $sign-in-page-input-field-border;
    border-radius: 4px;

    &_focused {
      @include ui-box-shadow;

      border-color: transparent;
    }
  }

  &__input {
    height: 100%;

    padding: 0;
    padding-left: 0.5rem;

    border-color: transparent;

    &:focus {
      box-shadow: none;
      border-color: transparent;
    }
  }

  &__btn {
    width: 54px;
    height: 32px;

    align-items: center;
    justify-content: center;

    border-color: transparent;

    &-icon {
      --size: 16px;

      width: --size;
      height: --size;

      fill: $sign-in-page-input-btn-icon-fill;
    }

    & > .ui-btn_loading__icon {
      margin: 0;
    }

    &_danger {
      background-color: $sign-in-page-input-btn-danger-bg;

      &:hover {
        background-color: $sign-in-page-input-btn-danger-hover-bg !important;

        border-color: transparent !important;
      }

      &:focus {
        box-shadow: 0 0 0 0.25rem $sign-in-page-input-btn-danger-focus-bg;
      }

      &:active {
        background-color: $sign-in-page-input-btn-danger-hover-bg !important;
      }
    }
  }

  &__error {
    &-title,
    &-desc {
      width: 100%;

      text-align: center;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-title {
      font-size: 15px;
      font-weight: 600;

      color: $sign-in-page-error-title;
    }

    &-desc {
      font-size: 13px;
      font-weight: 400;

      color: $sign-in-page-error-desc;
    }
  }
}
